@import url('vendor/bootstrap-grid.css');


body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.photo-container {
    position: relative;
    overflow: hidden;
    min-height: 700px;
    margin-bottom: 120px;

    img {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 685px;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 15px;

}

.navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.splash {
    text-align: center;
    color: #fff;
}

.page-title {
    font-size: 35px;
}

.page-subtitle {
    font-size: 60px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #FFD700;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    height: 65px;
    width: 240px;
    
}

.card {
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    max-width: 33.33333%;
}

.icon {
    display: inline-block;
    font-size: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.icon i {
    color: gold;
}

.text-center {
    text-align: center;
}

.text-center h2 {
    font-size: 30px;
}

.py-5 h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.py-5 p {
    margin-bottom: 80px;
}
